body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main-box {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.logo-icon {
    width: 100px;
    margin-right: 700px;
}

.tagline {
    margin-top: -20px;
    
}

.left-side h1 {
    font-family: 'Georgia', 'Times New Roman', Times, serif; 
    font-size: 38px;
    max-width: 590px;
    font-weight: 400;
}

.left-side h1 span {
    background: linear-gradient(90deg, #ff5722, #d81b60, #9c27b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.mockup img {
    max-width: 450px;
}

.right-side {
    flex: 0.7;
    background-color: #10151b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #435062;
}

.auth-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
    align-self: flex-start;
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color: #10151b;
    border: 1px solid #435062;
    color: #efefef;
    padding: 14px;
    border-radius: 15px;
    font-size: 14px;
    outline: none;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

input:focus {
    border-color: #8e8e8e;
}

.login-btn {
    background-color: #205bd1;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s;
}

.login-btn:hover {
    background-color: #3786e6;
}

.forgot {
    color: #dfe2e2;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 12px 200px;
    border-radius: 25px;
    font-weight: bold;
}

.forgot:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.buttons-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fb-btn {
    background: transparent;
    border: 1px solid #363636;
    color: #ffffff;
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fb-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.fb-icon {
    font-weight: 900;
    color: #1877f2;
    font-family: sans-serif;
    font-size: 16px;
}

.create-btn {
    background: transparent;
    border: 1px solid #0064e0;
    color: #0095f6;
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.create-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.meta-footer {
    margin-top: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}